body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  margin-top: 30px ;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.dashboard {
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
