@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&display=swap');

.logo {
  font-family: 'Kodchasan', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #F97316;
  margin: 0;
}
